/*KAPCSOLAT*/

#connection {
    display: block;
    text-align: left;
    background-color: #44464c;
    padding-bottom: 20px;
    font-size: 8pt;
    font-weight: lighter;
}
#connection iframe {
    padding: 20px 0 0 120px;
    border-radius: 5px;

}
#connection > div {
    max-width: 960px;
    margin-left: 20%;
}
#connection > div > div {
    float: left;
}
#connection a {
    text-decoration: none;
    color: #ff5934;
}
