body {
    font-size: 14px;
    font-family: sans-serif;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;

}
header nav ul li {
    font: normal 12pt sans-serif;
    display: inline-block;
    background: linear-gradient(to bottom, #b8c6df 0%, #6d88b7 100%);
    color: #fff;
    padding: 10px 16px;
    border-right: solid 1px #fff;
}
li:nth-child(1),
li:nth-child(2) {
    float: left;
}
li:nth-child(5),
li:nth-child(4) {
    float: right;
}
li:nth-child(4) {
    border-right: none;
}

.selected {
    background: linear-gradient(to bottom, #6d88b7 0%, #b8c6df 100%);
    color: #fff;
    padding: 10px 16px;
    border-right: solid 1px #fff;
}
p {

    font-family: fantasy;
    font: normal 18pt/2.5em fantasy;
}

div {
    display: block;
    background-color: #2f4779;
    background-image: url("facebook_dark.jpg");
}
